.page-header {
    .section-title {
        font-size: 28px;
        font-weight: 700;
        text-transform: capitalize;
        font-family:  'Lucida Sans', sans-serif;
        padding-top: 20px;
        padding-bottom: 20px; 
    }
}

.main-bar {
    background-color: rgb(234, 236, 238);
    padding-top: 30px;
    padding-bottom: 30px;
}